{% extends 'base.html' %}

{% block content %}

<div>
    <!-- <h2>This is home page</h2> -->
    
    <section id="section_1" class="mt-5">
        <h2>Recent Products</h2>
        <hr>
        <div class="row">
            {% for product in products %}
            <div class="col-md-3">
                <div class="card">
                    <a href="{% url 'productDetails' product.p_id  %}" style="text-decoration: none;">
                        <img src="{{product.p_image}}" class="w-100" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{product.p_name}}</h5>
                            <p class="card-text">Price : {{product.p_price}}</p>
                            <a href="#" class="btn btn-primary">Add to Cart</a>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

</div>

{% endblock %}