{% extends 'base.html' %}

{% block content %}

<div id="login">
    <h1>Login to get started...</h1>
    <hr>
    <form action="#">
        <label for="email">Enter your Email ID</label>
        <input type="email" name="email" id="email" placeholder="Enter your mail">
        <br> <br>
        <label for="pwd">Enter your Password</label>
        <input type="password" name="pwd" id="pwd" placeholder="Enter your password">
        <br> <br>
        <input type="submit" value="Login">
    </form>
</div>

{% endblock %}